baseURL = 'https://selen-suyue.github.io/biosite/'
languageCode = 'en-us'
title = "Selen's Blog"

theme = 'reimu'


[outputs]
home = [ "HTML", "RSS"]

# enable search algolia

# enable code highlight
[markup.highlight]
guessSyntax = true
noClasses = false

# enable math katex
[markup.goldmark.extensions.passthrough]
enable = true
delimiters.block = [["\\[", "\\]"], ["$$", "$$"]]
delimiters.inline = [["\\(", "\\)"], ["$", "$"]]
